# TrackAthlete Environment Variables Example

# Server Configuration Example
PORT=
MONGO_URI=
JWT_SECRET=
CLIENT_ORIGIN=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

# Client Configuration Example
VITE_API_URL=
